
.hg-member-list {

  box-sizing : border-box;
  padding    : 1em;
  margin     : 0;

  & > .hg-member-list-member {

    display        : flex;
    flex-direction : row;
    padding        : 0 1em;

    & > .hg-member-list-member-name {
      padding: 0.5em 0;
    }

    & > .hg-member-list-member-id {
      flex-grow: 1;
      padding: 0.5em 0;
      text-align: right;
    }

    &.hg-member-list-member-even {
      background-color: #0000000c;
    }

  }

}
