.timer {

  width: 4em;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;

}
